
/* Mobile first  */  
body{
    font-family: arial, helvetica, sans-serif;
    font-size: 0.8em;
}

main {
}

#gamePage{
    display: block;
}

#controlPanel{
    position: fixed;
    background-color: rgba(255,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    background-color: rgba(0,0,0,0.6);
    color: white;
    border-color: darkgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#bottomPanel{
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    min-width: 100%;
    left: 0px;
    bottom:0px;
    position: fixed;
    padding: 0.2em;
}

#bottomPanelMessage{    
    font-size: 1.3em;
    color: white;
}
#chatContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.25em;
}
#chatContainerLeft{
    display: flex;
    flex-direction: column;
    width:100%;
}
#chatContainerRight{
    display: flex;
    flex-direction: column;
    margin-right: 1em;        
}

#chatArea{
    font-family: arial, helvetica, sans-serif;
    font-size: 0.8em;
    text-align: left;
    right:1em;
    height: 3em;
    border-radius: 5px;
    border: darkgray 1px solid;
    background-color: black;
    color: white;
    margin: 0.5em;
    overflow: auto;
    padding: 0.5em;
}
.chatMsgSender{
    font-weight: bold;
    color: white;
}
.chatMsgTxt{
    color: silver;
}
#chatMessage {
    border-radius: 5px;
    border: darkgray 1px solid;
    margin-top: 0;
    margin-right: 0.5em;
    margin-left: 0.5em;
    flex-grow: 1;
}

#webradio{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    background-color: rgba(224, 224, 224, 0.2);
    border-radius: 15px;
    margin: 0.4em;
}

#webRadioSlider{
    width: 6em;
    opacity: 0.7;
}

#webRadioBtn{
    width: 24px;
    min-height:24px;
    background-image: url('wr-start-24.png');
    background-position-y: center;
    background-repeat: no-repeat;
    margin-right: 0.25em;
    margin-left: 0.5em;
    opacity: 0.7;
}
#webRadioBtn:hover, #webRadioSlider:hover{
    opacity: 1;
}
#webRadioBtn:active{
    opacity: 0.5;    
}

.controlPanelBtn{
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    cursor: pointer;
}
.controlPanelBtn:disabled{
    cursor: default;
}

#attendeesPanel{
    position: fixed;
    background-image: url('./wood-small.jpg');
    background-color: #27221f;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
}

#gameDesk{
    position: absolute;
    background-color: rgba(255,255,0,0.15); 
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    width:14.7em;
}

.attendeeDesk, .moverDesk{
    position: absolute;
    color: white;
    font-weight: bold;
    background-color: rgba(17,12,12,0.4);
    border-color: rgba(17,12,12,0.5);
    border-style: solid;
    border-width: 1px;
    border-radius:  0.5em;
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    width:12em;
}
.moverDesk{
    background-color: rgba(255,255,0,0.1);
    border-color: rgba(255,255,128,0.75);
}
.cardStack {
    background-color: rgba(255,0,0, 0.5);
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-height: 8.1em;
}

/* ratio: 1,446428571428571*/
.card {
    width: 4.75em;
    height: 6.8705em;
}

.attendeeNameContainer {
    bottom:0px;
    width: 100%;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
}
.attendeeName{
    font-style: italic;
    text-align: center;
    flex-grow: 1;
}

#playerListPanel{
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    min-width: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
}

.playerOffline {
    color: darkgray;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    text-align: center;
}

.playerOnline {
    color: white;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    text-align: center;
}

#roundInfo{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 2.55em;
    left: 0px;
    color: white;
}

.roundInfoItem {
    display: flex;
    margin-left: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-right: 0.5em;
}

#roundCounter {
    margin-left: 0.25em;
}

#trumpSymbolContainer {
    position: absolute;
    background: green;
    margin: 0.25em;
    border-color: rgba(255,255,255,0.0);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.25);
}

.trumpSymbolKreuz{
    background-image: url("cards/suits/suit-club-32.png");
    background-size: cover;
    margin:0.25em;
    width: 32px;
    height: 33px;
}

.trumpSymbolPik{
    background-image: url("cards/suits/suit-spade-32.png");
    background-size: cover;
    margin:0.25em;
    width: 32px;
    height: 33px;
}

.trumpSymbolHerz{
    background-image: url("cards/suits/suit-heart-32.png");
    background-size: cover;
    margin:0.25em;
    width: 32px;
    height: 33px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.trumpSymbolKaro{
    background-image: url("cards/suits/suit-diamond-32.png");
    background-size: cover;
    margin:0.25em;
    width: 32px;
    height: 33px;
}

#scoreboard{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 2.55em;
    right: 0px;
    color: white;

    display: grid;
    grid-template-columns: auto auto auto; 
}

.scoreboardEntryName{
    margin-left: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.scoreboardEntryColon{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.scoreboardEntryScore{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0.25em;
    margin-right: 0.5em;
    text-align: right;
}

.gameDialog {
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    color: white;
    border-color: darkgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: block;
    position: fixed;
    min-width: 50%;
    top: 11em;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1em;
}

#trumpDlgSelectionOuter{
    display: flex;
    justify-content: center;
}

#trumpDlgSelectionInner{
    border-color: rgba(255,255,255,0.0);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.trumpDlgSuit{
    background-size: cover;
    width: 32px;
    height: 33px;
    margin: 0.5em;
}
.trumpDlgSuit:hover{
    cursor: pointer;
}
#trumpDlgSuitDiamond{
    background-image: url("./cards/suits/suit-diamond-32.png");
}

#trumpDlgSuitHeart{
    background-image: url("./cards/suits/suit-heart-32.png");
}

#trumpDlgSuitSpade{
    background-image: url("./cards/suits/suit-spade-32.png");
}

#trumpDlgSuitClub{
    background-image: url("./cards/suits/suit-club-32.png");
}

#trumpDlgBack{
    background-image: url("./cards/suits/back-navy-48.png");
    width: 33px;
    height: 48px;
}

.dialogButton{
    margin-top: 0.5em;
}

#loginPage{
    display: flex;
    position: fixed;
    min-height: 100%; 
    min-width: 100%; 
    top:0;
    left:0;
    background-color: white;
}

#loginDialog{
    display: block;
    text-align: center;
    background-color: lightgray;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: auto;
    min-height: 0px;
    margin: auto;
    margin-top: 100px;
    padding: 1em;
}

#loginDialog input{
    font-size: 1em;
}

#loginConsole {
    font-size: 0.6em;
    text-align: center;
}


/* Smart Phones und Tablets mit mittlerer Auflösung */
@media all and (min-width: 50em) {
    body {
        font-size: 0.9em;
    }
    #playerListPanel, #scoreboard, #bottomPanel{
        background-color: rgba(0,0,0,0.5);
    }
    #attendeesPanel{
        background-image: url('./wood-med.jpg');
    }
    #chatContainerLeft{
        max-width:40em;
    }
    #chatContainerRight{
        margin-bottom: 0em;        
    }
    .cardStack {
        min-height: 10.3em;
    }
    /* ratio: 1,446428571428571*/
    .card {
        width: 6em;
        height: 8.678em;
    }
    #gameDesk{
        width:18.5em;
    }

    .attendeeDesk, .moverDesk{
        width:14.75em;
    }
    .attendeeName{
        margin-top: 0.5em;
    }
    #bottomPanelMessage{    
        margin-bottom: 3em;
    }
    #chatArea{
        font-size: 0.9em;
        height: 4em;
    }
    #bottomPanel{
        padding: 0.4em;
    }

    .controlPanelBtn{
        margin-top: 0.5em;
        margin-bottom: 0.5em;    
    }

    .gameDialog {
        background-color: rgba(0,0,0,0.75);
        font-size: 1.3em;
    }

    .trumpDlgSuit{
        background-size: cover;
        width: 48px;
        height: 50px;
        margin: 0.5em;
    }
    #trumpDlgSuitDiamond{
        background-image: url("./cards/suits/suit-diamond-48.png");
    }

    #trumpDlgSuitHeart{
        background-image: url("./cards/suits/suit-heart-48.png");
    }

    #trumpDlgSuitSpade{
        background-image: url("./cards/suits/suit-spade-48.png");
    }

    #trumpDlgSuitClub{
        background-image: url("./cards/suits/suit-club-48.png");
    }

    #trumpDlgBack{
        background-image: url("./cards/suits/back-navy-64.png");
        width: 46px;
        height: 66px;
    }

    .trumpSymbolKreuz{
        background-image: url("cards/suits/suit-club-48.png");
        width: 48px;
        height: 50px;
    }

    .trumpSymbolPik{
        background-image: url("cards/suits/suit-spade-48.png");
        width: 48px;
        height: 50px;
    }

    .trumpSymbolHerz{
        background-image: url("cards/suits/suit-heart-48.png");
        width: 48px;
        height: 50px;
    }

    .trumpSymbolKaro{
        background-image: url("cards/suits/suit-diamond-48.png");
        width: 48px;
        height: 50px;
    }
}

/* Viewports mit großer Auflösung */
@media all and (min-width: 70em) {
    body {
        font-size: 1em;
    }

    #logoffBtn, #chatBtn, #videoBtn{
    }

    .cardStack {
        min-height: 10.1em;
    }
    /* ratio: 1,446428571428571*/
    .card {
        width: 6.5em;
        height: 9.402em;
    }
    #gameDesk{
        width:20.2em;
    }

    .attendeeDesk, .moverDesk{
        width:16em;
    }
    .attendeeName{
        margin-top: 1em;
    }
    #bottomPanel{
        padding: 0.6em;
    }

    .controlPanelBtn{
        margin-top: 0.4em;
        margin-bottom: 0.4em;        
    }

    .gameDialog {
        font-size: 1.6em;
    }

    .trumpDlgSuit{
        width: 64px;
        height: 66px;
    }
    #trumpDlgSuitDiamond{
        background-image: url("./cards/suits/suit-diamond-64.png");
    }

    #trumpDlgSuitHeart{
        background-image: url("./cards/suits/suit-heart-64.png");
    }

    #trumpDlgSuitSpade{
        background-image: url("./cards/suits/suit-spade-64.png");
    }

    #trumpDlgSuitClub{
        background-image: url("./cards/suits/suit-club-64.png");
    }

    #trumpDlgBack{
        background-image: url("./cards/suits/back-navy-64.png");
        width: 46px;
        height: 66px;
    }

    .trumpSymbolKreuz{
        background-image: url("cards/suits/suit-club-64.png");
        width: 64px;
        height: 66px;
    }

    .trumpSymbolPik{
        background-image: url("cards/suits/suit-spade-64.png");
        width: 64px;
        height: 66px;
    }

    .trumpSymbolHerz{
        background-image: url("cards/suits/suit-heart-64.png");
        width: 64px;
        height: 66px;
    }

    .trumpSymbolKaro{
        background-image: url("cards/suits/suit-diamond-64.png");
        width: 64px;
        height: 66px;
    }

}
